# Environment
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Laravel
/vendor
/storage/*.key
/public/storage
.phpunit.result.cache

# OS / IDE
.DS_Store
.idea/
.vscode/
