services:
  postgres:
    image: postgres:15
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: issam
      POSTGRES_PASSWORD: 2000
      POSTGRES_DB: clinic_db
    ports:
      - "5419:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
